.container-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8.5vw;
    gap: 2vh;
    grid-area: informacoes-contatos;
}

.informacoes {
    display: flex;
    gap: 2vh;
}

.informacoes i{
    font-size: 2vh;
    color: var(--primary-icon);
}

.informacoes p {
    font-size: 2vh;
    color: #ffffff;
}

.copyrigth {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    color: #ffffff;
    grid-area: copyrigyh;
}

.container-redes-sociais {
    display: flex;
    justify-content: space-evenly;
    padding-right: 7.5vw;
    align-items: center;
    grid-area: redes-sociais;
}

.icons-redes-sociais {
    width: 3vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50% ;
    font-size: 2vh;
    color: var(--primary-icon);
    cursor: pointer;
    transition: .5s;
}

.icons-redes-sociais:hover {
    color: #E5B657;
}

@media (max-width: 640px) {
    .container-informacoes {
        height: 15vh;
        display: flex;
        align-items: center;
        margin-top: 2vh;
        padding-left: 0;
    }

    .copyrigth {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .container-redes-sociais {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }

    .icons-redes-sociais {
        width: 10vw;
    }
}