.logo-lion-scholl {
    padding-top: 1vh;
    padding-left: 8.5vw;
}

.container-voltar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10vw;
}

.efeito {
    display: flex;
    justify-content: end;
    align-items: center;
    transition: .5s;
}

.efeito:hover {
    transform: scale(1.2);
}

.icon-voltar {
    font-size: 4vh;
    color: #ffffff;
}

.text-voltar {
    padding-left: 1vh;
    font-size: 3vh;
    color: #ffffff;
    cursor: pointer;
}