.nome-curso {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    font-size: 6vh;
    font-weight: 500;
    color: var(--primary-color);
}

.container-card-alunos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10vh;
    gap: 70px;
}

.card {
    width: 15vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
}

.card-alunos-cursando {
    transition: .5s;
    background: var(--primary-color);
}

.card-alunos-cursando:hover {
    transform: scale(1.1);
    transition: .5s;
}

.card-alunos-finalizado {
    transition: .5s;
    background: #E5B657;
}

.card-alunos-finalizado:hover {
    transform: scale(1.1);
    transition: .5s;
}

.foto-aluno {
    height: 25vh;
}

.nome-aluno {
    width: 14vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2vh;
    font-size: 2vh;
    color: #ffffff;
}

@media (max-width: 640px) {
    .nome-curso {
        display: flex;
        text-align: center;
        font-size: 4vh;
    }

    .container-card-alunos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 50vw;
        height: 38vh;
    }

    .nome-aluno {
        width: 40vw;
    }
}