.filtro-status {
  position: relative;
  display: inline-block;
}

.button-status {
  border-style: none;
  background: #BCC2E5;
  font-size: 2vh;
  color: var(--primary-color);
  cursor: pointer;
}

.button-status-dentro {
  border-style: none;
  background: var(--primary-color);
  font-size: 1.5vh;
  color: #fff;
  padding: 8px;
  transition: .5s;
}

.button-status-dentro:hover {
  font-size: 1.8vh;
}

.filtro-ano {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  gap: 8px;
}

.filtro-ano p {
  color: var(--primary-color)
}

.filtro-ano input {
  width: 4vw;
  height: 2.5vh;
  border-color: #3347B0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  gap: 12px;
}

.status-content {
  display: none;
  position: absolute;
  background: var(--primary-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1vh;
  cursor: pointer;
}

.filtro-status:hover .status-content {
  display: block;
}

.legendas-status {
  display: flex;
  justify-content: end;
  flex-direction: row;
  padding-right: 10vw;
  padding-top: 1vh;
  gap: 16px;
  color: var(--primary-color);
}

.nav_item {
  display: flex;
  gap: 8px;
}

.cursando {
  width: 1vw;
  height: 1vw;
  background-color: var(--primary-color);
}

.finalizado {
  width: 1vw;
  height: 1vw;
  background-color: #E5B657;
}

.drop {
  display: flex;
  padding-left: 8.5vw;
  padding-top: 1vh;
}