.container-status {
  position: relative;
  display: inline-block;
}

.container-status:hover .container-buttons-status {
  display: block;
  background-color: #1b245a;
}

.container-buttons-status a {
  width: 7vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container-buttons-status a:hover {
  background-color: var(--primary-color)
}

.button-status {
  width: 7vw;
  padding: 1vh;
  height: 6vh;
  background: var(--primary-color);
  border: none;
  font-size: 2vh;
  color: #fff;
}

.container-legendas {
  display: flex;
  gap: 16px;
  font-size: 2vh;
  font-weight: 500;
  color: var(--primary-color);
}

.cursando {
  width: 1vw;
  height: 1vw;
  background: var(--primary-color);
}

.finalizado {
  width: 1vw;
  height: 1vw;
  background: #E5B657;
}