.logo-lion-scholl {
    height: 1vh;
    padding-top: 1vh;
    padding-left: 8.5vw;
}

.container-sair {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10vw;
}

.efeito {
    display: flex;
    justify-content: end;
    align-items: center;
    transition: .5s;
}

.efeito:hover {
    transform: scale(1.2);
}

.icon-sair {
    font-size: 4vh;
    color: #ffffff;
}

.text-sair {
    padding-left: 1vh;
    font-size: 3vh;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 640px) {
    .logo {
        height: 8vh;
    }
}