.logo-lion-scholl {
    padding-top: 1vh;
    padding-left: 6vw;
}

.container-sair {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10vw;
}

.icon-sair {
    font-size: 4vh;
    color: #ffffff;
}

.text-sair {
    padding-left: 1vh;
    font-size: 3vh;
    color: #ffffff;
    cursor: pointer;
}

