.text-escolha {
    padding-left: 8vw;
    font-size: 8vh;
    font-weight: 300;
    grid-area: devices;
}

b {
    color: var(--primary-color);
}

.text-gerenciar {
    padding-left: 8vw;
    padding-bottom: 10vh;
    font-size: 8vh;
    font-weight: 300;
    grid-area: devices;
}

.container-devices {
    display: flex;
    justify-content: center;
    grid-area: devices;
}

.container-studant {
    display: grid;
    justify-content: center;
    grid-area: studant;
}

.container-cursos {
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.card-cursos {
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 20vh;
    margin: 16px;
    background: var(--primary-color);
    box-shadow: 10px 10px #99A3D7;
    transition: .7s;
    grid-template-columns: 
    50% 50%;
    cursor: pointer;
    grid-area: container-cursos;
}

.card-cursos:hover {
    transform: scale(1.1);
    transition: .5s;
}

.image-curso {
    height: 8vh;
    display: flex;
    align-self: center;
    margin-right: 1vw;
    color: #ffffff;
}

.sigla-curso {
    display: grid;
    align-content: center;
    font-size: 8vh;
    color: #ffffff;
}

@media (max-width: 640px) {
    .text-escolha {
        width: 55vh;
        padding-top: 5vh;
        font-size: 6vh;
    }

    .text-gerenciar {
        padding-left: 15vw;
        font-size: 6vh;
    }

    .container-devices {
        display: flex;
        justify-content: center;
    }

    .devices {
        height: 25vh;
    }

    .container-cursos {
        display: flex;
        flex-direction: column;
        padding-top: 5vh;
    }

    .card-cursos {
        width: 50vw;
    }

    .studant {
        display: none;
    }
}