:root {
    --primary-color: #3347B0;
    --primary-icon: #ffffff
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
    display: grid;
    grid-template-columns: 
    50% 50%;
    background: var(--primary-color);
}

main {
    height: 75vh;
    display: grid;
    align-items: center;
    grid-template-areas: 
    "devices studant container-cursos";
    grid-template-columns: 
    40vw 20vw 40vw;
}

footer {
    height: 15vh;
    display: grid;
    grid-template-areas: 
    "informacoes-contatos copyrigyh redes-sociais";
    grid-template-columns: 30vw 40vw 30vw;
    background: var(--primary-color);
}

@media (max-width: 640px) {
    main {
        height: 115vh;
        display: flex;
        flex-direction: column;
    }
}