.informacoes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    gap: 2vh;
    grid-area: informacoes-contatos;
}

.informacoes {
    display: flex;
    gap: 2vh;
}

li {
    list-style: none;
}

.informacoes i{
    font-size: 2vh;
    color: var(--primary-icon);
}

.informacoes p {
    font-size: 2vh;
    color: #ffffff;
}

.copyrigth {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    color: #ffffff;
    grid-area: copyrigyh;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    grid-area: redes-sociais;
}

.icons-redes-sociais {
    font-size: 3vh;
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 100% ;
    color: var(--primary-icon);
    transition: .5s;
    cursor: pointer;
}
