:root {
    --primary-color: #3347B0;
    --primary-icon: #ffffff
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 
    50% 50%;
    width: 100%;
    height: 10vh;
    background: var(--primary-color);
}