.card-aluno {
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.foto-aluno {
    display: flex;
    align-items: center;
    height: 38vh;
}

.nome-aluno {
    padding-top: 5vh;
    font-size: 2.8vh;
    font-weight: 700;
    color: var(--primary-color);
}

.card-notas {
    grid-area: notas;
    height: 50vh;
    width: 48vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box-notas {
    padding-left: 8vw;
    height: 50vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nota-aluno {
    display: grid;
    grid-template-areas:
        "nota"
        "box"
        "materia";
    grid-template-rows:
        .2fr 1fr .1fr;
    place-items: center;
}

.porcentagem-nota-aprovado{
    padding-bottom: 2vh;
    font-size: 3vh;
    font-weight: 700;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-area: nota;
}

.porcentagem-nota-reprovado{
    padding-bottom: 2vh;
    font-size: 3vh;
    font-weight: 700;
    color: #c11010;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-area: nota;
}

.porcentagem-nota-exame{
    padding-bottom: 2vh;
    font-size: 3vh;
    font-weight: 700;
    color: #E5B657;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-area: nota;
}

.tamanho-nota {
    grid-area: box;
    height: 30vh;
    width: 1vw;
    background-color: #EEEFF8;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nota-aprovado {
    background: #3347B0;
    box-shadow: 0px 0px 24px #3347B0;
    border-radius: 4px 4px 0px 0px;
}

.nota-reprovado {
    background: #C11010;
    box-shadow: 0px 0px 24px #C11010;
    border-radius: 4px 4px 0px 0px;
}

.nota-exame {
    background: #E5B657;
    box-shadow: 0px 0px 24px #E5B657;
    border-radius: 4px 4px 0px 0px;
}

.sigla-disciplina {
    padding-top: 2vh;
    font-size: 3vh;
    font-weight: 700;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

@media (max-width: 640px) {
    .card-aluno {
        width: 45vh;
        height: 40vh;
    }

    .foto-aluno {
        height: 25vh;
    }

    .nome-aluno {
        width: 30vh;
        display: flex;
        text-align: center;
    }

    .card-notas {
        width: 45vh;
        height: 45vh;
    }

    .box-notas {
        padding-left: 22vh;
        padding-bottom: 1vh;
        gap: 10px;
    }

    .porcentagem-nota-aprovado {
        font-size: 2vh;
    }

    .porcentagem-nota-reprovado {
        font-size: 2vh;
    }

    .porcentagem-nota-exame {
        font-size: 2vh;
    }

    .sigla-disciplina {
        font-size: 2vh;
    }
}