.container-aluno-grafico {
    width: 100%;
    display: grid;
    grid-template-areas: "container-aluno container-grafico";
    grid-template-columns: 1fr 1fr;
    place-items: center;

}

.container-aluno {
    width: 500px;
    height: 500px;
    padding: 34px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;
}

.img-aluno {
    width: 400px;
}

.name-aluno {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-grafico {
    width: 500px;
    height: 500px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

/* .container-aluno-grafico :hover{
    transform: scale(1.1);
} */
.tooltip-text {
    display: none;
    width: auto;
    height: 25px;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
}

.numeros {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.preenchimento {
    display: flex;
    height: 300px;
    align-items: flex-end;
    background-color: #EEEFF8;
    border-radius: 4px 4px 0px 0px;
}

.chart {
    display: flex;
    justify-content: space-between;
}

.bar {
    display: flex;
    justify-content: space-between;
    width: 16px;
    background-color: #3347B0;
    text-align: center;
    box-shadow: 0px 0px 24px #3347B0;
    border-radius: 4px 4px 0px 0px;
}

.barra-vermelho {
    background-color: #C11010;
    box-shadow: 0px 0px 24px #C11010;
}

.barra-amarelo {
    background-color: #E5B657;
    box-shadow: 0px 0px 24px #E5B657;
}

.nomes {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.numeroNome-Vermelho {
    color: #C11010;
}

.numeroNome-Amarelo {
    color: #E5B657;
}