:root {
    --primary-color: #3347B0;
    --primary-icon: #ffffff;
    --second-color: #E5B657;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
    background: var(--primary-color);
    display: grid;
    grid-template-columns: 
    50% 50%;
}

main {
    height: 75vh;
    display: grid;
    grid-template-columns: 
    50% 50%;
}

footer {
    width: 100%;
    height: 15vh;
    display: grid;
    background: var(--primary-color);
    grid-template-areas: 
    "informacoes-contatos copyrigyh redes-sociais";
    grid-template-columns: 30vw 40vw 20vw;
}